{% for message in app.session.flashbag.get('notice') %}
<div class="alert-success">
    {{ message|trans }}
</div>
{% endfor %}

{% for message in app.session.flashbag.get('error') %}
<div class="flash-error">
    {{ message|trans }}
</div>
{% endfor %}